<mat-card>
  <mat-card-header>
    <mat-card-title>Declarative Binary Decision Trees</mat-card-title>
    <mat-card-subtitle>A Collection of Simple Strategies</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="padding: 14px;">
    <p>The general approach with writing binary deicision trees with javascript is that
      they can get
      very ambigious if there are more than two node levels and leaf nodes are further down from the root. It can
      become a headache to
      debug and modify the algorithms. Server side functions would be a limitation, we need to be able to add own
      logic from the front end, also algorithm visualization is
      also a key problem. The solution however, needs to meet these certain criteria.
    </p>

    <strong>Configuration</strong> : Consumer can use predefined functions or they can extend
    with javascript functionality.
    <br>
    <strong>Logging</strong> : Traversal logging for each request the decision tree returns.
    <br>
    <strong>Visualization</strong>
    : Should generate a tree graph that demonstrates the
    algorithm.
    if possible there should a visual way for creating the dt.

  </mat-card-content>
</mat-card>
